<!DOCTYPE html>
<html ng-app="ConfAng">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />

    <script src="../Scripts/SetupScript.js"></script>
    <script src="~/Scripts/handsontable/moment/moment.js"></script>
    <link href="~/Scripts/handsontable/pikaday/pikaday.css" rel="stylesheet" />
    <script src="~/Scripts/handsontable/pikaday/pikaday.js"></script>
    <script src="~/Scripts/handsontable/zeroclipboard/ZeroClipboard.js"></script>
    <script src="~/Scripts/handsontable/handsontable.full.js"></script>
    <script src="~/Scripts/handsontable/handsontable.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/handsontable/handsontable.css" rel="stylesheet" />
    <link href="~/Content/handsontable/handsontable.full.css" rel="stylesheet" />
    <script src="../Scripts/angular.js"></script>


</head>
<body ng-controller="ConfController as config">
    <div id="basic_example"></div>
</body>
</html>
